.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;

}

.logo img{
    width: 150px;
    height: auto;
    display: block;

}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar ul li{
    font-size: 16px;
    font-weight: 500;
    color:#475569 ;
    cursor: pointer;
    
}

.navbar ul li:first-child{
    color: #D91B7E;
}
.nav-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.sign-in{
    text-decoration: none;
    color: #475569;
    font-size: 17px;
    font-weight: 500;


}

.sign-up{
    text-decoration: none;
    color: white;
    font: 12px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 20px;
    background-color: #D91B7E
    ;
}